<h2 mat-dialog-title>Edit User</h2>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
  </form>
  <form [formGroup]="accessForm">
    <div *ngFor="let item of roles">
      <mat-checkbox [formControlName]="item.key">{{ item.key }}</mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button #saveButton mat-button [mat-dialog-close]="form.value"
    [disabled]="form.invalid">Save</button>
</div>