:host {
  display: block;
  padding: 40px;
  .search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .action-btns {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .mat-icon {
    cursor: pointer;
  }
}
